.sentence-summary {
  margin-top: 60px;
}

img {
  margin-top: 20px;
  height: 180px;
}

.squad-member-name {
  margin-top: 0px;
  margin-bottom: 2px;
  padding: 0px;
}

.stats {
  margin-top: 50px;
}
