#root {
  max-width: 1500px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: monospace, Avenir, Helvetica, Arial, sans-serif;
  color: #f3f4f6;
  background-color: #68777d;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
