.navbar {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px; /* VERY IMPORTANT LINE FOR PADDING FROM LEFT AND RIGHT */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.navbar-liga-mx-logo {
  height: 50px;
  width: auto;
  margin-right: 40px;
  margin-bottom: -10px;
  margin-top: -4px;
}

.title {
  flex: 1;
  font-size: 30px;
}

.search-bar {
  text-align: center;
}

.search-bar input {
  padding: 5px;
}

.search-bar button {
  padding: 5px 10px;
  background-color: #555;
  color: #fff;
  border: none;
}

.links {
  flex: 1;
  text-align: right;
}

.links p {
  color: white;
  margin-left: 30px;
  margin-bottom: 0px;
  display: inline;
  text-decoration: underline;
  text-decoration-color: #333333;
}

button {
  margin-left: 10px;
}
.content {
  margin-top: 100px; /* Adjust this value to provide the desired space under the navbar */
  padding-right: 125px;
  padding-left: 125px;
}

.search-textbox {
  margin-right: 55px;
  border-radius: 5px;
  width: 200px;
}
